.empregos {
  .graficos {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
  }
  .image-container {
    img {
      max-width: 100%;
      border-radius: 5%;
      border: 3px solid #143dc5;
    }
  }
}

@media (max-width: 768px) {
  .empregos {
    .graficos {
      grid-template-columns: 1fr;
    }

    padding-bottom: 32px;
  }
}
