.image-text-section {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    align-items: center;

    .image-container {
      text-align: center;
      width: 100%;

      img {
        max-width: 100%;
        border-radius: 10%;
      }
    }
  }
}
